<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Skillbee Assignment">
    <link rel="stylesheet" href="index.css">
    <title>Skillbee Assignment</title>
</head>

<body>
    <div class="container">
        <div class="left-conatiner sub-container">
            <div style="padding: 0 1.5rem;">
                <p class="key">
                    <%= key %>
                </p>
                <p class="activity">
                    <%= activity %>
                </p>
                <p class="tagline">Outdoor & Sporting Goods Company</p>
                <button>EXPLORE MORE &nbsp;&nbsp;&rarr;</button>
                <p class="special-goal">We have more special goods for you 🚀</p>
                <div class="numbers-container">
                    <div class="adventure">
                        <p class="morethan">More than</p>
                        <p class="number">50+</p>
                        <p class="product">adventure product</p>
                    </div>
                    <div class="adventure">
                        <p class="morethan">More than</p>
                        <p class="number">75+</p>
                        <p class="product">adventure product</p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="sub-footer">
                    <img src="img/card-send.svg" alt="">
                    <div class="footer-item">
                        <p class="title">accessibility</p>
                        <p class="value">
                            <%= accessibility %>
                        </p>
                    </div>
                </div>
                <div class="sub-footer">
                    <img src="img/shield-tick.svg" alt="">
                    <div class="footer-item">
                        <p class="title">TYPE</p>
                        <p class="value">
                            <%= type %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-conatiner sub-container">
            <div class="price-container">
                <p class="price">price</p>
                <p class="price-amount">
                    <%= price %>
                </p>
            </div>
            <div class="photos">
                <img class="logo" src="img/brand-logo.webp" alt="">
                <div class="left-img">
                </div>
                <div class="right-img">
                    <div class="right-img-1"></div>
                    <div class="right-img-2"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>